<div class="formbg">

    <app-alert [msg_para_mostrar]="msg_info"></app-alert>

    <div class="formbg-inner padding-horizontal--48">
        
        <!-- formulário da mudança de senha -->
        <form id="stripe-login" (ngSubmit)="onSubmit()" [formGroup]="form" >
            <div class="field padding-bottom--24">
                <label for="email">Nova senha</label>
                <input type="password" name="password" formControlName="password" required>
            </div>
            
            <div class="field padding-bottom--24">
                <input [disabled]="form.invalid" type="submit" name="submit" value="Enviar alteração">
            </div>
        </form>
        
    </div>    

</div>



