<div class="row">

  <div class="col-lg-12">
    <app-loading [mostrar_spinner]="temposDeAula.length == 0" [msg_de_espera]="msg_de_espera"></app-loading>
  </div>


  <div class="col-lg-3" *ngFor="let aula of temposDeAula">
    <app-cartao-tempos-lectivos [bandeira_aviso]="bandeira_aviso" [tempos_de_aula]="aula"
      (ao_activar_tempo_lectivo)="selectionar_tempo_lectivo($event)"></app-cartao-tempos-lectivos>
  </div>
</div>

<!-- formulário do sumário -->

<div class="formbg-larg">
  <div class="row">
    <div class="col-lg-12">
      <span class="padding-bottom--15 span-space">Preencha os campos do sumário</span>
      <hr />
      <form id="stripe-login">
        <div class="field padding-bottom--24">
          <label for="email">Sumário da Aula</label>
          <input [ngClass]="campo_bloqueado" [disabled]="desactivador_dos_campos_do_formulario" type="email"
            name="email" required />
        </div>
        <div class="field padding-bottom--24">

          <div class="row" *ngIf="alunos.length > 0 && !desactivador_dos_campos_do_formulario">
            <div class="col-lg-12 col-md-12">
              <label for="password">Faltas por tempos lectivos</label><br>
            </div>
          </div>

          <div class="row" *ngIf="alunos.length > 0 && !desactivador_dos_campos_do_formulario">
            <div class="col-lg-12 col-md-12">
              <app-alert [msg_para_mostrar]="msg_de_info"></app-alert>
            </div>
          </div>

        </div>

        <div class="field padding-bottom--24">

          <div class="row">

            <div class="col-lg-12 col-md-12" *ngIf="alunos.length > 0 && !desactivador_dos_campos_do_formulario">

              <label for="typeahead-basic">Procure por um(a) aluno(a)</label>
              <input id="typeahead-basic" name="srchstudent" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Escreva o nome do(a) aluno(a)" />
              <br>

            </div>

            <div class="col-lg-12 col-md-12" *ngIf="alunos.length > 0 && !desactivador_dos_campos_do_formulario">
              <input name="marcarFalta" value="Marcar Aluno(a)" (click)="marcarFalta()"/>
            </div>

          </div><br>

          <div class="row" *ngIf="faltas.length > 0">

            <div class="col-lg-12 col-md-12">
              <!-- ///////////// start /////// -->
                <app-alert-dinamico *ngFor="let falta of faltas" [(nome_do_esdante)]="falta.nome" [(tipo_de_falta)]="falta.falta" [(id_da_falta)]="falta.id"
                  (ao_apagar_esta_falta)="apagaEstaFalta($event)"
                ></app-alert-dinamico>
              <!-- /////////// end ////////// -->
            </div>
          

          </div>

        


        </div>

        <a class="arrow-icon" appArrowToggler (click)="mostrar_outro_form()">
          <span class="left-bar"></span>
          <span class="right-bar"></span>
        </a>

        <div *ngIf="mostrar_form_adicional">
          <span class="padding-bottom--15 span-space">Ocorrências</span>
          <hr />
          <div class="field padding-bottom--24">
            <label for="email">Título</label>
            <input [ngClass]="campo_bloqueado" [disabled]="desactivador_dos_campos_do_formulario" type="text"
              name="email" required />
          </div>
          <div class="field padding-bottom--24">
            <div class="grid--50-50">
              <label for="password">Descrição</label>
            </div>
            <textarea [ngClass]="campo_bloqueado" [disabled]="desactivador_dos_campos_do_formulario" type="textarea"
              name="descricao" rows="6" required></textarea>
          </div>

        </div>

        <div class="field padding-bottom--24">
          <input [disabled]="desactivador_dos_campos_do_formulario" type="submit" name="submit" value="Enviar sumário"
            routerLink="/aulas" />
        </div>
      </form>
    </div>
  </div>
</div>