<!-- content goes here  -->
<div class="">
    <div class="row">
        <div class="col-lg-12">
            
            <div class="formbg-larg">
                <div class="row">
                    <div class="col-lg-12">

                        <form id="stripe-login">

                            <span class="padding-bottom--15 span-space">Informações Gerais</span>
                            <hr /><br><br>

                            <div class="field padding-bottom--24">
                                <h6 class="mb-0">Número da Lição: </h6>
                                <div class="text-secondary">
                                    1 e 2.
                                </div>
                                <hr>
                            </div>

                            <div class="field padding-bottom--24">
                                <h6 class="mb-0">Data da Aula:  </h6>
                                <div class="text-secondary">
                                    14 de Setembro de 2021.
                                </div>
                                <hr>
                            </div>

                            <div class="field padding-bottom--24">
                                <h6 class="mb-0">Sumário da Lição: </h6>
                                <div class="text-secondary">
                                    os seres vivos e a sua constituição.
                                </div>
                                <hr>
                            </div>

                            <div class="field padding-bottom--24">
                                <h6 class="mb-0">Faltas Registadas: </h6>
                                <div class="text-secondary">
                                    os seres vivos e a sua constituição.
                                </div>
                            </div><br><br>

                            <span class="padding-bottom--15 span-space">Ocorrências</span>
                            <hr />

                            <div class="field padding-bottom--24">
                                <h6 class="mb-0">Sem ocorrências</h6>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>