<div class="row">
   
    <div class="col-md-6">
		<div class="formbg-inner padding-horizontal--48">
			<span id="turma" class="padding-bottom--15"><b>CEPPH</b></span> <hr>
			<span id="disciplina-e-tempolectivo">Complexo Escolar Privado Politécnico do Huambo</span><br> 
			<span class="temposLancados">ver turmas</span> 
		</div>
    </div>


	<div class="col-md-6">
		<div class="formbg-inner padding-horizontal--48">
			<span id="turma" class="padding-bottom--15"><b>CEPGE</b></span> <hr>
			<span id="disciplina-e-tempolectivo">Complexo Escolar Privado Gustave Eiffel</span><br> 
			<span class="temposLancados">ver turmas</span> 
		</div>
    </div>


</div>