<!-- default navbar -->
<div class="container">
  <ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
      <a class="gn-icon gn-icon-menu"  appTrigger><span>Menu</span></a>

      <nav class="gn-menu-wrapper" appMenu>
        <div class="gn-scroller">
          <ul class="gn-menu">
            <li>
              <a class="gn-icon gn-icon-download">Avaliações</a>
            </li>
            <li>
              <a class="gn-icon gn-icon-illustrator">Relatórios</a>
            </li>
            <li>
              <a routerLink="/sumario" class="gn-icon gn-icon-photoshop">Sumários</a>
            </li>
            <li>
              <a class="gn-icon gn-icon-cog">Encarregados</a>
            </li>
            <!--
              <li><a routerLink="alunos" class="gn-icon gn-icon-help">Alunos</a></li>-->
            
            <li>
              <a class="gn-icon gn-icon-archive">calendário</a>
            </li>
            <li><a routerLink="/turmas" class="gn-icon gn-icon-article">Turmas</a></li>
            <li *ngIf="estado_de_sessao" ><a routerLink="/perfil" class="gn-icon gn-icon-article">Definições da conta</a></li>
          </ul>
        </div><!-- /gn-scroller -->
      </nav>

    </li>
    <li><a href="#">SAGGE</a></li>
   
    <li class="upper-li">
      <a *ngIf="!estado_de_sessao" class="codrops-icon codrops-icon-drop" (click)="sair_da_conta()"  routerLink="/login"><span class="link-menu">Iniciar Sessão</span></a>
      <a *ngIf="estado_de_sessao" class="codrops-icon codrops-icon-drop" (click)="sair_da_conta()"><span class="link-menu">Encerrar</span></a>  
    </li>
  </ul>
</div><!-- /container -->