<div class="row">
    <div class="col-md-12" *ngIf="turmas.length == 0" style="text-align: center;margin-top:50px">
        <div class="spinner-border text-info" role="status"><span class="sr-only">Loading...</span></div>
    </div>

    <div class="col-md-4" *ngFor="let turma of turmas">
        <div class="formbg-inner padding-horizontal--48" routerLink={{turma.id}}>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h6 class="d-flex align-items-center mb-3"><i
                        class="material-icons text-info mr-2">{{turma.nome}}</i>
                    </h6>
                </div>
            </div>
            
            <hr>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div >
                        Clique para ver aulas
                    </div>
                </div>
            </div>

           
		</div>
    </div>
</div>

