
.formbg-inner {
 cursor : pointer;
}

.selected {
  border : solid 1px #5469d4;
}

.temposLancados {
  font-size: 15px;
  color : green;
}

#cartao_tempo_lectivo {
  height : 260px;
  margin-bottom: 15px;
}
