<!-- 

GRADIENT BANNER DESIGN BY SIMON LURWER ON DRIBBBLE:
https://dribbble.com/shots/14101951-Banners

-->
<div class="main-container">
  <div class="heading-container">
    <h1 class="heading">Grelha dos principais Serviços</h1>
    <p class="credit"><a target="_blank" href="https://dribbble.com/sl">Ir para às definições da conta</a></p>
  </div>
  <div class="card-container">
    <div class="card card-1">
      <div class="card__icon"><fa-icon [icon]="faBook"></fa-icon></div>
      <h2 class="card__title">Este serviço congrega todas as funcionalidades relacionadas ao plano de aulas do Professor</h2>
      <p class="card__apply"><a href="#">Plano de aulas <fa-icon [icon]="faArrowRight"></fa-icon></a></p>
    </div>
    <div class="card card-2">
      <div class="card__icon"><fa-icon [icon]="faTeacher"></fa-icon></div>
      <h2 class="card__title">Registe os seus sumários em tempo apropriado e controle as faltas.</h2>
      <p class="card__apply"><a routerLink="/sumario">Sumários <fa-icon [icon]="faArrowRight"></fa-icon></a></p>
    </div>
    <div class="card card-3">
      <div class="card__icon"><fa-icon [icon]="faChart"></fa-icon></div>
      <h2 class="card__title">Veja os relatórios das suas turmas e descarregue para vários formatos </h2>
      <p class="card__apply"><a href="#">relatórios <fa-icon [icon]="faArrowRight"></fa-icon></a></p>
    </div>
    <div class="card card-4">
      <div class="card__icon"><fa-icon [icon]="faGraduation"></fa-icon></div>
      <h2 class="card__title">Registe todas as avaliações e veja o progresso da turma</h2>
      <p class="card__apply"><a href="#">Avaliações <fa-icon [icon]="faArrowRight"></fa-icon></a></p>
    </div>
  </div>
</div>