<div class="row">
    <div class="col-md-4" *ngFor="let i of [1,2,3,4,7,8,9,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4]">
        <div class="card user-card">
            <div class="card-header">
                <h5><a routerLink="i">ver ficha</a></h5>
            </div>
            <div class="card-block">
                <div class="user-image">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius" alt="User-Profile-Image">
                </div>
                <h6 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h6>
                <hr>
                <p class="text-muted m-t-15">Activity Level: 87%</p>
                <ul class="list-unstyled activity-leval">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>
